<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Form a Texas LLC</h2>
        </header>
        <p>Create an LLC in <strong>15 minutes</strong> for <strong>$299</strong> 
        <br />
        and have it filed with the State of Texas next day.
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Get Started Now</a></li>
            </ul>
        </footer>

    </div>

</section>